﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PaymentBill.aspx.cs" Inherits="AyyappaInfra.PaymentBill" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style>
        th{
            display:none !important;
        }
    </style>
    
    <style>
        .btn-success {
            background-color: #00a65a;
            border-color: #008d4c;
        }

        .btn {
            border-radius: 3px;
            -webkit-box-shadow: none;
            box-shadow: none;
            border: 1px solid transparent;
        }
    </style>
    <style>
        .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:focus,
        .nav-tabs > li.active > a:hover {
            padding: 10px 0;
            margin-left: 15px;
            margin-right: 15px;
            border-bottom: 3px solid #2fa3e6;
            border-left: 0;
            border-top: 0;
            border-right: 0;
            border-radius: 0;
        }

        .borderless td, .borderless th {
            border: none;
        }

        page {
            background: white;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        }

            page[size="A4"] {
                width: 21cm;
                height: 29.7cm;
            }

        }

        @media print {
            body, page {
                margin: 0;
                box-shadow: 0;
            }


            .pagebreak {
                page-break-after: always;
            }
        }

        .borderless td, .borderless th {
            border: none;
        }

        .hritem {
            margin-top: 0px;
            margin-bottom: 9px;
            border: 0;
            border-top: 1px solid #d6f4ff;
        }

        table {
            border: none;
        }

        @media print {

            .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
                float: left;
            }

            .col-sm-12 {
                width: 100%;
            }

            .col-sm-11 {
                width: 91.66666666666666%;
            }

            .col-sm-10 {
                width: 83.33333333333334%;
            }

            .col-sm-9 {
                width: 75%;
            }

            .col-sm-8 {
                width: 66.66666666666666%;
            }

            .col-sm-7 {
                width: 58.333333333333336%;
            }

            .col-sm-6 {
                width: 50%;
            }

            .col-sm-5 {
                width: 41.66666666666667%;
            }

            .col-sm-4 {
                width: 33.33333333333333%;
            }

            .col-sm-3 {
                width: 25%;
            }

            .col-sm-2 {
                width: 16.666666666666664%;
            }

            .col-sm-1 {
                width: 8.333333333333332%;
            }

            #btnPrint {
                display: none !important;
            }

            #btnpdf {
                display: none !important;
            }

            #btnback {
                display: none !important;
            }

            table {
                border: none;
            }


            .vendorListHeading {
                background: #1a4567 !important;
                color: white;
            }


                .vendorListHeading th {
                    color: white;
                }
        }





        .vendorListHeading {
            background: #1a4567 !important;
            color: white;
        }

            .vendorListHeading th {
                color: white;
            }

        .dcprint p {
            font-size: 11px !important;
        }

        /* Styles for print (include this after the above) */
        #print_helper {
            display: block;
            overflow: visible;
            margin-left: -37px;
            white-space: pre;
            white-space: pre-wrap;
        }

        .the_textarea {
            display: none;
        }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            function copy_to_print_helper() {
                $('#print_helper').text($('.the_textarea').val());
            }
            $('.the_textarea').bind('keydown keyup keypress cut copy past blur change', function () {
                copy_to_print_helper(); // consider debouncing this to avoid slowdowns!
            });
            copy_to_print_helper(); // on initial page load
        });
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
         <input type="button" id="btnPrint" onclick="window.print();" value="Print Page" class=" text-center btn btn-success" style="background: #5cb85c; padding: 9px 8px; border-radius: 4px; color: #fff;" />
        <asp:DataList ID="DataList1" runat="server" DataKeyField="Billno" OnItemDataBound="DataList1_ItemDataBound" RepeatColumns="1" Visible="false">
            <ItemTemplate>
                <strong>
                   <h3 style="text-align:center">DEVKI INTERIORS </h3>
        <h5 style="text-align:center">Specialist in: Furniture, Mattresses, Interior Work<br />
        Shop No. 8-2-686/D/B-4/1, Road No. 12, Banjara Hills, Hyderabad - 500 038.<br />
        E-mail: devki_interior@yahoo.com</h5>
        </div>
                </strong>
                <strong>Name:<asp:Label ID="lblname"  runat="server" Text='<%# Eval("Name") %>'></asp:Label></strong>
                <strong>Date<asp:Label ID="lbldate" runat="server" Text='<%# Eval("date") %>'></asp:Label></strong>
                <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="false" Width="100%">
                    <Columns>
                        <asp:TemplateField>
                          <ItemTemplate>
                              Amount<br />
                              Paid<br />
                              Due
                          </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField>
                          <ItemTemplate>
                              <asp:Label ID="lblamt" runat="server" Text='<%# Eval("totalamt") %>'></asp:Label><br />
                              <%# Eval("paidamt") %><br />
                               <%# Eval("remainamt") %>
                              </ItemTemplate>
                        </asp:TemplateField>
                        
                    </Columns>
                </asp:GridView>
            </ItemTemplate>
        </asp:DataList>

          <asp:DataList ID="DataList2" runat="server" DataKeyField="Billno" OnItemDataBound="DataList2_ItemDataBound" RepeatColumns="1" Visible="false">
            <ItemTemplate>
                <strong>
                   <h3 style="text-align:center">SHARMA FURNITURE</h3>
        <h5 style="text-align:center">Specialist in: Carved & Plain Furniture, Mattresses & Interior Work<br />
        H.No. 8-2-548/44, Road No. 7, Banjara Hills, Hyderabad - 500 034. Telangana.<br />
        E-mail: Sharma_furnituresnb@yahoo.co.in</h5>
        </div>
                </strong>
                <strong>Name:<asp:Label ID="lblname"  runat="server" Text='<%# Eval("Name") %>'></asp:Label></strong>
                <strong>Date<asp:Label ID="lbldate" runat="server" Text='<%# Eval("date") %>'></asp:Label></strong>
                <asp:GridView ID="GridView2" runat="server" AutoGenerateColumns="false" Width="100%">
                    <Columns>
                        <asp:TemplateField>
                          <ItemTemplate>
                              Amount<br />
                              Paid<br />
                              Due
                          </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField>
                          <ItemTemplate>
                              <asp:Label ID="lblamt" runat="server" Text='<%# Eval("totalamt") %>'></asp:Label><br />
                              <%# Eval("paidamt") %><br />
                               <%# Eval("remainamt") %>
                              </ItemTemplate>
                        </asp:TemplateField>
                        
                    </Columns>
                </asp:GridView>
            </ItemTemplate>
        </asp:DataList>

         <asp:DataList ID="DataList3" runat="server" DataKeyField="Billno" OnItemDataBound="DataList3_ItemDataBound" RepeatColumns="1" Visible="false">
            <ItemTemplate>
                <strong>
                   <h3 style="text-align:center">DEVKI INTERIORS </h3>
        <h5 style="text-align:center">Specialist in: Furniture, Mattresses, Interior Work<br />
        Shop No. 8-2-273/276/277, Pavani Indra Dhanush Complex, Ground Floor<br />
        Road No. 2, Banjara Hills, Hyderabad - 500 038.<br />
        E-mail: devki_interior@yahoo.com</h5>
        </div>
                </strong>
                <strong>Name:<asp:Label ID="lblname"  runat="server" Text='<%# Eval("Name") %>'></asp:Label></strong>
                <strong>Date<asp:Label ID="lbldate" runat="server" Text='<%# Eval("date") %>'></asp:Label></strong>
                <asp:GridView ID="GridView3" runat="server" AutoGenerateColumns="false" Width="100%">
                    <Columns>
                        <asp:TemplateField>
                          <ItemTemplate>
                              Amount<br />
                              Paid<br />
                              Due
                          </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField>
                          <ItemTemplate>
                              <asp:Label ID="lblamt" runat="server" Text='<%# Eval("totalamt") %>'></asp:Label><br />
                              <%# Eval("paidamt") %><br />
                               <%# Eval("remainamt") %>
                              </ItemTemplate>
                        </asp:TemplateField>
                        
                    </Columns>
                </asp:GridView>
            </ItemTemplate>
        </asp:DataList>
        <asp:Label ID="lbluser" runat="server" Text="" Visible="false"></asp:Label>
    </div>
    </form>
</body>
</html>
